@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

header {
  margin: 32px;
  display: grid;
  grid-template-columns: 222px 1fr;
  align-items: center;
}

.menu a {
  font-size: 16px;
  color: #111111;
  margin-right: 30px;
  text-decoration: none;
}

.hero {
  height: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fbdfdb;
  border-radius: 30px;
}

.hero .intro {
  width: 320px;
  align-self: center;
  padding-left: 60px;
}

.hero .intro h1 {
  font-size: 32px;
  color: #111111;
  margin-bottom: 10px;
  line-height: 38px;
}

.hero .intro p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  line-height: 28px;
}

.hero img {
  padding-top: 66px;
  justify-self: center;
}

main {
  margin: 50px 0;
}

main h2 {
  font-size: 24px;
  color: #111111;
  line-height: 28px;
  margin-bottom: 20px;
}

main .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 20px;
}

main .content img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

main .content h4 {
  font-size: 18px;
  color: #111111;
  line-height: 21px;
  margin-bottom: 5px;
}

main .content p {
  font-size: 14px;
  color: #777777;
  line-height: 16px;
}

footer {
  font-size: 14px;
  color: #999999;
  text-align: center;
  background: #EEEEEE;
  padding: 23px 0;
}
